<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732725420392-7gfas23n4vrqn86dnimo0us29tivs2so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732725420392-7gfas23n4vrqn86dnimo0us29tivs2so</string>
	<key>API_KEY</key>
	<string>AIzaSyCYNniaNsTX7X_Py11daYwpwWUUoa45DjA</string>
	<key>GCM_SENDER_ID</key>
	<string>732725420392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techmixins.tmxnotes</string>
	<key>PROJECT_ID</key>
	<string>tmx-eb3b3</string>
	<key>STORAGE_BUCKET</key>
	<string>tmx-eb3b3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732725420392:ios:4006240e4173b0877136dd</string>
</dict>
</plist>